body {
	font-family: sans-serif;
}
header {
	border: 1px solid #b5b7ba;
	background-color: #dfdfdf;
	height: 68px;
	text-decoration: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

header a {
	color: #4d4d4d;
	font-size: 20px;
	font-weight: 400;
	text-decoration: none;
}
h1 {
	color: #2e353d;
	font-size: 40px;
	font-weight: 300;
	display: flex;
	justify-content: center;
	text-align: center;
}

main {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 5%;
	flex-wrap: wrap;
}

main img {
	width: 380px;
	padding-bottom: 3%;
	
}
main p {
	width: 693px;
	color #242424;
	font-size: 24px;
	font-weight: 100;
}

footer {
	background-color: #434445;
	height: 120px;
	color: #a4a4a4;
	font-size: 20px;
	font-style: italic;
	display: flex;
	justify-content: center;
	align-items: center;
}
